/* For All */
* {
    padding: 0%;
    margin: 0%;
}

/* Body */
body {
    background-color: rgb(36, 36, 104);
}

body::-webkit-scrollbar{
    display: none;
}

p, h2, h3, h1 {
    color: white;
}



/* Header */

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px 1px;
    padding: 0 1px;
    background-color: rgb(36, 36, 104);
    z-index: 1;
}

header #logo {
    width: 15%;
    height: 5%;
    /* background-color: cadetblue; */
}

header #logo p {
    font-size: 250%;
    padding: 1%;
    color: greenyellow;
    display: inline-block;
}

header #logo .name {
    color: white;
    padding: 1%;
    margin-top: 1%;
    margin-left: 3%;
    display: inline-block;

}

#text {
    position: absolute;
    color: white;
    margin-top: 10px;
    left: 10%;
}

header #search {

    margin-left: 60%;
    margin-top: 5px;
    background-color: #40409d;
    height: 20px;
    padding: 2px 3px;
}

header #search p {
    color: white;
    display: inline-block;

}

header #search input {
    display: inline-block;
    background-color: #40409d;
    border: none;
    padding: 2px;
    z-index: 1;
}

header #bell {
    margin-left: 29px;
    margin-top: 5px;
    font-size: 22px;
    color: white;
}

header .bell {
    position: relative;
}

header #bell::after {
    content: '';
    position: absolute;
    width: 6.5px;
    height: 6.5px;
    right: 1%;
    top: 18%;
    border-radius: 50%;
    background-color: red;
    z-index: 1;
}

header #user {
    margin-left: 3%;
    border-radius: 50%;
    width: 34px;
    height: 29px;
}

/* div main aside*/

.main_aside {
    display: flex;
    flex-direction: row;
}

/* Main */

main {
    margin: 40px;
    /* position: fixed; */
}


/* Main -> Promotion */

main #promotion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main #promotion img {
    border-radius: 13px;
    margin: 10px;
    margin-top: 40px;
    width: 250px;
    height: 250px;
    transition: 0.5s ease-in-out;
}

main #promotion img:hover{
    transform: scale(1.12);
}


/* Main -> Latest Release */

main #latest {
    margin-top: 40px;
}

main #latest #cards {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    margin-top: 10px;
}

main #latest #cards .card {
    display: flex;
    margin-top: 14px;
}

.album_name {
    margin: 0px 20px;
    color: white;
    font-size: 14px;
}

.album_button {
    margin-left: 40px;
    color: white;
    font-size: 13px;
    position: relative;
}

/* .album_button:hover .option{
    visibility: visible;
} */

.option{
    position: absolute;
    background: white;
    z-index: 1;
    left: -95px;
    /* margin-left: -70px; */
    margin-top: -5px;
    visibility: hidden;
}

.option ul li{
    color: black;
    list-style: none;
    border-bottom: 1px solid black;
    width: 130px;
    padding: 2px;
    display: inline-block;
}

.option ul li p{
    font-size: 10px;
    color: gray;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}


.time {
    color: white;
}

main #latest #cards .card img {
    width: 80px;
    height:80px;
}

main #latest #cards .card .latest_img:hover p{
    display: block;
}

main #latest #cards .card .latest_img:hover img{
     filter: brightness(60%);
}

main #latest #cards .card .latest_img{
    position: relative;
}

main #latest #cards .card .latest_img p{
    position: absolute;
    bottom: 37%;
    left: 40%;
    font-size: 25px;
    display: none;
}



main #popular .images {
    display: flex;
    flex-direction: row;
}

main #popular .images img {
    width: 100px;
    height: 100px;
}



/* main Popular Artists*/

main #popular {
    margin-top: 50px;
}

main #popular .images {
    margin-top: 20px;
}

main #popular .images img {
    margin-right: 20px;
    width: 140px;
    height: 200px;
}

/* Main -> Stations*/

main #stations {
    margin-top: 80px;
    display: flex;
    background-color: rgb(60, 60, 185);
    padding: 10px;
    width: 95%;
    position: relative;
}

main #stations img {
    width: 120px;
    height: 120px;
    margin-right: 20px;
    border-radius: 50%;
    opacity: 0.55;
}

main #stations .st{
    position: relative;
    /* background-color: blueviolet; */
    width: 120px;
    height: 120px;
    margin-right: 20px;
    border-radius: 50%;
    /* opacity: 0.65; */
}

main #stations .one::after{
    content: 'Pop';
    color: white;
    position: absolute;
    left: 39%;
    top: 42%;
}
main #stations .two::after{
    content: 'Hip Hop';
    color: white;
    position: absolute;
    left: 30%;
    top: 42%;
}
main #stations .three::after{
    content: 'Country';
    color: white;
    position: absolute;
    left: 30%;
    top: 42%;
}
main #stations .four::after{
    content: 'Classical';
    color: white;
    position: absolute;
    left: 30%;
    top: 42%;
}
main #stations .five::after{
    content: 'Electronic';
    color: white;
    position: absolute;
    left: 28%;
    top: 42%;
}


main #stations p {
    position: absolute;
    display: flex;
    font-size: 50px;
    background-color: orange;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
    margin-right: 20px;
    right: -10px;
    top: -22px;
}

main #stations p::after {
    content: 'Stations';
    font-size: 20px;
    position: absolute;
    top: 78%;
}

.first {
    margin-right: 10px;
    margin-top: 13px;
    position: relative;
    background-color: yellow;
    width: 120px;
    height: 80px;
    position: relative;
    left: 10px;
    top: -21.3px;
}

.second {
    position: relative;
    margin-right: 10px;
    margin-top: 13px;
    position: relative;
    background-color: yellow;
    width: 164px;
    height: 60px;
    top: 10px;
}


/* Main -> Category*/

main #category {
    display: flex;
    margin-top: 50px;
}

main #category .box {
    width: 277px;
    position: relative;
    background-color: cadetblue;
    height: 150px;
    margin-right: 20px;
    overflow: hidden;
}

main #category .one::after{
    content: '';
    background: url(./img/best-reggae-songs-featured-1024x652.jpg) no-repeat center center/cover;
    position: absolute;
    width: 277px;
    height: 150px;
    opacity: 0.6;
}

main #category .one:hover::after{
    transform: scale(1.1);
}

main #category .one::before{
    content: 'Reggae';
    font-size: 20px;
    position: absolute;
    color: white;
    left: 40%;
    top: 40%;
    font-weight: bold;
    z-index: 1;
}

main #category .two::after{
    content: '';
    background: url(./img/folk-music-1024x682.jpg) no-repeat center center/cover;
    position: absolute;
    width: 277px;
    height: 150px;
    opacity: 0.7;
}

main #category .two::before{
    content: 'Flok';
    font-size: 20px;
    position: absolute;
    color: white;
    left: 40%;
    top: 40%;
    font-weight: bold;
    z-index: 1;
}

main #category .two:hover::after{
    transform: scale(1.1);
}

main #category .three::after{
    content: '';
    background: url(./img/jazz-music-saxophone-1024x682.jpg) no-repeat center center/cover;
    position: absolute;
    width: 277px;
    height: 150px;
    opacity: 0.7;
}

main #category .three:hover::after{
    transform: scale(1.1);
}

main #category .three::before{
    content: 'Jazz';
    font-size: 20px;
    position: absolute;
    color: white;
    left: 40%;
    top: 40%;
    font-weight: bold;
    z-index: 1;
}

main #category img:hover{
    transform: scale(1.1);
}


/* Main -> lastest eng */

main #latest_eng {
    margin-top: 50px;
}

main #latest_eng .songs_eng {
    margin-top: 10px;
    display: flex;
    color: white;
}

main #latest_eng .songs_eng .lastest img {
    width: 130px;
    height: 130px;
    margin-right: 30px;
}


/* Main -> lastest hindi */

main #latest_hindi {
    margin-top: 50px;
}

main #latest_hindi .songs_hind {
    display: flex;
    margin-top: 10px;
    color: white;
}

main #latest_hindi .songs_hind .latest_h img {
    width: 130px;
    height: 130px;
    margin-right: 30px;
}


/* Aside */

aside {
    position: fixed;
    margin-top: 5%;
    right: 19%;
}

aside #heading .arrow p{
    color: cyan;
    margin-left: 25px;
}

aside #heading .arrow{
    position: relative;
}

aside #heading .arrow:hover .list{
    visibility: visible;
}

aside #heading .arrow .list{
    position: absolute;
    background: white;
    z-index: 1;
    left: -95px;
    margin-top: 5px;
    visibility: hidden;
}


aside #heading .arrow .list ul li{
    color: black;
    list-style: none;
    width: 138px;
    padding: 8px 5px;
    /* height: 10px; */
    display: inline-block;
}


aside #heading .arrow .list ul li:first-child{
    border-bottom: 1px solid black;
}


aside #songs {
    position: fixed;
    height: 560px;
    width: 30%;
    overflow: scroll;
}

aside #songs::-webkit-scrollbar{
    display: none;
}

aside #heading {
    display: flex;
    flex-direction: row;
}

aside #heading h3 {
    margin-left: 150%;
    color: cyan;
}

aside #heading p {
    margin-left: 40px;
    font-size: 15px;
    margin-top: 5px;
}

aside #songs .item {

    display: flex;
    flex-direction: row;
    margin: 25px 0px;
}

aside #songs .item img {
    width: 70px;
    height: 70px;
}

aside #songs .item .content {
    margin-left: 20px;
}

aside #songs .item .num {
    margin-right: 10px;
    margin-top: 7%;
}

aside #songs .item .heart {
    margin-left: 50%;
}


/* Footer */

footer .audio{
    width: 100vw;
    height: 50px;
    position: fixed;
    bottom: 1px;
    background-color: white;
    display: none;
    /* display: flex; */
    /* padding: auto; */
}

footer .audio audio{
    height: 40px;
    margin-left: 40%;
    border: none;
    
}
